<!DOCTYPE html>
{% extends 'mainpage/base.html' %}
<html>
<head>
	<title>Jurlab</title>
	
</head>
<body>
	{% block content %}

	<span class="container">
		<div class="row">
			<div class="col-lg-12">
				<div align="center">
					<h4><strong>Прогресс лист</strong></h4>
					<h5><strong>18.11.2020</strong></h5>
					<h6><strong>V. 0.0.6</strong></h6>

				</div>
				<table>
					<ul>
						<li>1. Изменен дизайн таблиц с даннными судов и исполнительных производств.</li>
						<li>2. Добавлен модуль django-archive, позволяющий бэкапить БД и статические файлы (документы, фото, текстовые файлы) в ZIP архиве. (Необходима БД Postgresql)</li>
						<li>3. Предварительно закончено деление судебных дел по видам судопроизводств. В зависимости от выбора меняются названия полей. (необходимо тестирование пользователями, поля могу изменить в любое время). </li>
						<li>4. Небольшие правки по верстке сайта. Испавлена ошибка с некорректным отображением поля "результат" в судебных делах.</li>
						<li>5. Проведена работа по оптимизации кода. Существенно сокращен. Часть логики вынесена в отдельные файлы типа Services.</li>
						<li>6. Частично реализовано отсутствие значения "None" в полях модели отображаемых на сайте, при отсутствии данных. По завершении, пустые поля будут отображаться корректно.</li>
						<li>7. Почищена модель судов. Добавлены комментарии к модели для более легкого восприятия.</li>
						<li>8. Поля "Вид судопроизводства", "Категория", "Инстанция" и "Юрисдикция", теперь не являются связанными моделями с моделью courts. Теперь соответствующие поля в модели courts ссылаются на списки, являющиеся константами.</li>
						<li>9. Добавлены права в местах, где были дыры. Необходимо тестирование.</li>
					</ul>
				</table>
				</div>
			<div class="col-lg-12">
				<div align="center">
					<h4><strong>Прогресс лист</strong></h4>
					<h5><strong>02.11.2020</strong></h5>
					<h6><strong>V. 0.0.5</strong></h6>

				</div>
				<table>
					<ul>
						<li>1. Переработана модель судебного дела. Убнаны лишние переменные и таблицы в базе данных. "Почищен" код в моделях.</li>
						<li>2. Добавлены иконки собственного производства: мини-иконка логотип, большая иконка-логотип, иконка счетчика непрочитанных судебных дел, иконка непрочитанных исполнительных производств, favicon на основе мини-иконки сайта.</li>
						<li>3. Исправлены явные огрехи в верстке. Добавлен "плавающий" блок фильтра в исполнительных производствах, по аналогии с таким же в судебных делах.</li>
						<li>4. Добавлены стилизованные модальные окна (с целью уточнения подтверждения действия) для удаления комментариев, документов, судебных дел и исполнительных производств.</li>
						<li>5. Переработан визуальный вид таблиц отображения информации в судебных делах и исполнительных производствах. Убраны лишние поля форм добавления и изменения судебных дел и ИП.</li>
						<li>6. "Почищен" код в html файлах. Убрано все лишнее, повысил визуальную восприимчивость кода.</li>
						<li>7. Добавлено множество комментариев по коду.</li>
						<li>8. Помимо "непрочитанных судов", теперь отображаются так же "непрочитанные исполнительные производства" (см. п. 1 Прогресс листа v. 0.0.4). Система "уведомления" судебных дел и ИП полностью функционирует.</li>
						<li>9. БД PostgreSQL успешно установлена. Для её установки на рабочем месте необходим доступ к аднинитративным правам ПК.</li>
					</ul>
				</table>
				</div>
			<div class="col-lg-12">
				<div align="center">
					<h4><strong>Прогресс лист</strong></h4>
					<h5><strong>02.11.2020</strong></h5>
					<h6><strong>V. 0.0.5</strong></h6>

				</div>
				<table>
					<ul>
						<li>1. Переработана модель судебного дела. Убнаны лишние переменные и таблицы в базе данных. "Почищен" код в моделях.</li>
						<li>2. Добавлены иконки собственного производства: мини-иконка логотип, большая иконка-логотип, иконка счетчика непрочитанных судебных дел, иконка непрочитанных исполнительных производств, favicon на основе мини-иконки сайта.</li>
						<li>3. Исправлены явные огрехи в верстке. Добавлен "плавающий" блок фильтра в исполнительных производствах, по аналогии с таким же в судебных делах.</li>
						<li>4. Добавлены стилизованные модальные окна (с целью уточнения подтверждения действия) для удаления комментариев, документов, судебных дел и исполнительных производств.</li>
						<li>5. Переработан визуальный вид таблиц отображения информации в судебных делах и исполнительных производствах. Убраны лишние поля форм добавления и изменения судебных дел и ИП.</li>
						<li>6. "Почищен" код в html файлах. Убрано все лишнее, повысил визуальную восприимчивость кода.</li>
						<li>7. Добавлено множество комментариев по коду.</li>
						<li>8. Помимо "непрочитанных судов", теперь отображаются так же "непрочитанные исполнительные производства" (см. п. 1 Прогресс листа v. 0.0.4). Система "уведомления" судебных дел и ИП полностью функционирует.</li>
						<li>9. БД PostgreSQL успешно установлена. Для её установки на рабочем месте необходим доступ к аднинитративным правам ПК.</li>
					</ul>
				</table>
				</div>
			<div class="col-lg-12">
				<div align="center">
					<h4><strong>Прогресс лист</strong></h4>
					<h5><strong>07.10.2020</strong></h5>
					<h6><strong>V. 0.0.4</strong></h6>

				</div>
				<table>
					<ul>
						<li>1. Дабавлена система "непрочитанных" судов. В графе фильтров судебных дел теперь есть галочка "только непрочитанные суды". На верхней панели имеется счетчик непрочитанных судебных дел. Судебные  дела становятся "непрочитанными" при добавлении нового комментария пользователем.</li>
						<li>2. Добавлена система "истории" судебного дела. На странице "История" судебного дела отражается факт внесения изменения пользователем. Так же, снизу таблицы суда указано последнее действие, которое было осуществлено с моделью судебного дела.</li>
						<li>3. Ведется работа по внедрению БД PostgreSQL. На стадии установки/настройки.</li>
					</ul>
				</table>
				</div>
			<div class="col-lg-12">
				<div align="center">
					<h5><strong>28.09.2020</strong></h5>
					<h6><strong>V. 0.0.3</strong></h6>
				</div>
				<table>
					<ul>
						<li>1. Исправлено: появление ошибки при открытии вкладки "статистика". Теперь сайт не будет выдавать ошибку по причине недостаточности данных для статистики. Отныне выводит соответствующее сообщение в определенной графе.</li>
						<li>2. Добавлена стилизованная страница об ошибке, при попытке пользователя зайти в судебное дело, в которое он не назначен минимум как наблюдатель.(Если включен соответствующий режим в графе "меню руководителя").</li>
						<li>3. Ведутся работы по изменению таблицы конкретного судебного дела. Предыдущая была тяжела для восприятия.</li>
						<li>4. Переработана страница конкретного пользователя. Более презентабельный вид. </li>
						<li>5. Теперь пометка "прочитано" на суде будет появляться сразу у пользователя, который оставил комментарий, чтобы ему самому не пришлось перепрочитывать свое же сообщение. </li>
					</ul>
				</table>
			</div>
			<div class="col-lg-12">
				<div align="center">
					<h5><strong>25.09.2020</strong></h5>
					<h6><strong>V. 0.0.2</strong></h6>

				</div>
				<table>
					<ul>
						<li>1. Добавлена система отображения Online пользователей на сайте, а так же времени их последнего действия на сайте. (Ознакомление во вкладке "сотрудники").</li>
						<li>2. Добавлена система уведомлений о новых и обновившихся судах. (Ознакомление во вкладке "Суды"). При создании экземпляра суда он помечается как "не прочитанный" у всех пользователей. При ознакомлении - прочитаестся. При добавлении нового комментария суд вновь будет не прочитанным. Счетчик непрочитанных судов находится в верхней части сайта, пока работает с гравной страницы и с листа судов.</li>
						<li>3. Устранена проблема связанная с некорректным отображением названия результата, которым окончен суд. (Ознакомление - суды - конкретный суд - редактировать - результат). "Неизвестно - да - нет изменено на Результат неизвествен, суд выигран и суд проигран".</li>
						<li>4. Устранена проблема связанная с некорректным отображением названий документов, прикрепляемых к судам. </li>
						<li>5. Решена проблема с "мусорными файлами". Теперь при удалении документов или фото прикрепляемых к судам, они так же удаляются из базы данных.</li>
					</ul>
				</table>
			</div>
	</div>




<!-- testing -->
	<!--<style>
body, html
{
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", arial, verdana, sans-serif;
    font-weight: 700;
    color: black;
    background-color: white;
    overflow: hidden;
}
#titles {
    position: absolute;
    width: 18em;
    height: 45em;
    bottom: 0;
    left: 50%;
    margin-left: -9em;
    font-size: 350%;
    font-weight: bold;
    text-align: justify;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(500px) rotateX(25deg);
    }

#titles:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: 0;
    top: 0;
    bottom: 60%;
    background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
    pointer-events: none;
}

#titlecontent{
    position: absolute;
    top: 100%;
    animation: scroll 100s linear 4s infinite;
}

@keyframes scroll {
    0% { top: 100%; }
    100% { top: -170%; }
}



-->
	</style>

	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
	{% endblock content %}
</body>
</html>